:host{
    background-color: lightcoral;
}
.search-input{
width: 90%;
margin: 15px 0px;
border: 2px solid #3498DB  ;
height: 35px;
padding-left: 10px;
background: #3498DB;
//border-bottom-left-radius: 13px;
//border-top-left-radius: 13px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:gray;
    opacity: 1; /* Firefox */
  }

.search-input:focus{
    border: 2px solid #3498DB;
    outline: none;
    color:#fff;
}
.list-view{
   // border:2px solid darkcyan;
    //background: grey;
    width: auto;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 0px !important;
    background: #f04141;
    color: #fff;
}

.fixed{
    position: fixed;
    visibility:visible;
    z-index: 3;
    width: 100%;
    }
 .cont-top{
    margin-top: 70px;
    }
    ion-searchbar{
        width: 99%;
        margin: 0 auto;
        padding: 0;
        color:darkcyan;
        font-size: 12px;
        //z-index: 3;
    }

    mat-card{
        font-size: 12px;
        padding: 2px 2px;
    }
.tit{
    border-bottom:2px solid #fff;
}
.brand-img{
    margin: 15px 0px;
}
/deep/ ion-icon{
color: darkcyan;
}
    //@at-root

  