/deep/ .native-input {
    border-bottom: 1px solid darkcyan !important;
}
button{
    background: red;
    color:#fff;
    padding: 15px;
    width: 200px;
    margin: 0 auto;
}
.holder{
    margin-top: 50px;
    margin-bottom: 50px;
}