
.top-align{
    margin-top: 15px;
    
}

.brd{
    border:2px solid darkcyan;
    padding: 10px;

}

h6{
    color:darkcyan;
}
.nav-container{
    width: 100%;
    height: 75px;
    border: 1px solid darkcyan;
    position: relative;
    background: darkcyan;
    color:#fff;
}
.list-icon{
margin: 0 auto;
//top: 10%;
margin-top: 26px;
//position: absolute;
width: 20px;
color:#fff;
}
.link-title{
    font-size: 10px;
}