<ion-content>
  <div class="top-align">
      <div>
          <ion-slides pager="true" [options]="slideOpts">
              <ion-slide>
                  <img class="img-responsive" src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
              </ion-slide>
              <ion-slide>
                  <img class="img-responsive" src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">>
              </ion-slide>
              <ion-slide>
                  <img class="img-responsive" src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
              </ion-slide>
            </ion-slides>
      </div>
      <div class="container-fluid top-align brd">
        <div class="row">
          <div class="col-3">
            <div class="nav-container text-center" [routerLink]="['./product']">
                <ion-icon class="list-icon" name="basket"></ion-icon><br/>
                <div class="link-title">Product</div>
            </div>
          </div>
          <div class="col-3">
                  <div class="nav-container text-center" [routerLink]="['./job']">
                    <ion-icon class="list-icon" name="basket"></ion-icon><br/>
                    <div class="link-title">Jobs</div>
                  </div>
            </div>
            <div class="col-3">
              <div class="nav-container text-center">
                <ion-icon class="list-icon" name="basket"></ion-icon><br/>
                <div class="link-title">Sale</div>
              </div>
              </div>
              <div class="col-3">
                <div class="nav-container text-center">
                  <ion-icon class="list-icon" name="basket"></ion-icon><br/>
                  <div class="link-title">Product</div>
                </div>
                </div>
        </div>
      </div>

    
  </div>

  <div class="top-align">
        <div class="text-center">
            <h6>WELCOME TO MY PAGE</h6>
        </div>
  </div>

</ion-content>